header {
	padding-top: 30px;
	padding-bottom: 0%;
}


body {
	margin: 0 auto;
	background-color: black;
	font-family: arial;
}
.main_container {
	width: 800px;
	min-height: 560px;
	border: 3px dashed orange;
	margin: auto;
	margin-top: 50px;
	padding color: brown;
	font color: white;
}
.container_left {
	width: 375px;
	min-height: 500px;
	border: 2px solid blue;
	float: left;
	background-color: green;

	}
#userKey{
	color: white;
	padding-top: 80%;
}


.container_right{
	width: 375px;
	min-height: 500px;
	border: 2px solid white;
	float: right;
	background-color: green;
	}
#wordCount{
	color: white;
	padding-top: 80%;
	padding-left: 30%;
}

